@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .gradient-overlay {
    z-index: -2;
    position: relative;
  }

  .gradient-overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0, 0), #171618);
    opacity: 1;
  }
}

body {
  @apply bg-dark w-screen h-screen;
  font-family: 'Koho';
}